{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}

{% block form_id %}api_password_modal{% endblock %}
{% block form_action %}{% url 'horizon:settings:apipassword:index' %}{% endblock %}

{% block modal_id %}api_password_modal{% endblock %}
{% block modal-header %}{% trans "API Password" %}{% endblock %}

{% block modal-body %}
<div class="left">
  {% if password %}
      Your api password is: {{ password }}<br>
      Changing your password has invalidated your session.<br>
      You will be automatically logged out now, please log back in to continue.<br>
  {% else %}
      Please submit the form to generate a new API password.
  {% endif %}
</div>
<div class="right">
    <h3>{% trans "Information:" %}</h3>
    <p>{% trans "A new password will only be displayed once. You will have to generate a new one to see your password again." %}</p>
</div>
{% endblock %}

{% block modal-footer %}
    <button type="submit" class="btn btn-primary">{% trans "Request API password" %}</button>
    {% if hide %}<a href="{% url 'horizon:settings:apipassword:index' %}" class="btn secondary cancel close">{% trans "Cancel" %}</a>{% endif %}
{% endblock %}

